@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #000000;
}

body {
  color: var(--foreground);
  background: var(--background);
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: underline;
}

li {
  @apply border-b-[1px] py-4;
}

/* Remove dark mode preference */
@media (prefers-color-scheme: dark) {
  body {
    color: var(--foreground) !important;
    background: var(--background) !important;
  }
}